
/Client/Source/_msvc/_Debug
/Client/Source/_msvc/_Release
/Client/Source/_msvc/ipch
/Client/Source/xml
/Client/Source/_android/proguard-project.txt
/Client/Source/_android/assets
/Client/Source/_android/bin
/Client/Source/_android/gen
/Client/Source/_android/libs
/Client/Source/_android/obj

/Client/Source/_android/local.properties
/Versions

/Client/Bin/*.txt
/Client/Bin/data/vehicles.zip
/Client/Bin/data/res/shaders/*.err
/Client/Bin/data/shaders/*.err
/Client/Source/_android/sdkdir

/Client/Bin/data/internal.zip
/Client/Source/_msvc/*.opensdf
/Client/Source/_msvc/*.sdf
/Client/Source/_msvc/*.suo
/Client/Source/_msvc/.vs/vsu-mol-db/v14/*.suo
/Client/Source/_msvc/*.db
